.block {
    @include block;
}

.container {
    position: relative;
    @include desktop {
        margin: 0 auto;
        max-width: $desktop - 40px;

        &.is-fluid {
            margin: 0 20px;
            max-width: none;
        }
    }

    @include widescreen {
        max-width: $widescreen - 40px;
    }
}

.delete {
    @include delete;
}

.fa {
    font-size: 21px;
    text-align: center;
    vertical-align: top;
}

.heading {
    display: block;
    font-size: 11px;
    letter-spacing: 1px;
    margin-bottom: 5px;
    text-transform: uppercase;
}

.highlight {
    @include block;
    font-weight: $weight-normal;
    max-width: 100%;
    overflow: hidden;
    padding: 0;
    pre {
        overflow: auto;
        max-width: 100%;
    }
}

.loader {
    @include loader;
}

.number {
    align-items: center;
    background-color: $background;
    border-radius: 290486px;
    display: inline-flex;
    font-size: $size-medium;
    height: 2em;
    justify-content: center;
    margin-right: 1.5rem;
    min-width: 2.5em;
    padding: 0.25rem 0.5rem;
    text-align: center;
    vertical-align: top;
}

.blockquote {
    padding: .5rem 1rem;
    font-size: 1.308rem;
    border-left: .25rem solid #eceeef;

    @each $name, $pair in $colors {
        $color: nth($pair, 1);
        &.is-#{$name} {
            border-color : $color;
        }
    }
}

.blockquote-reverse {
    padding-right: 1rem;
    padding-left: 0;
    text-align: right;
    border-right: .25rem solid #eceeef;
    border-left: 0;

    @each $name, $pair in $colors {
        $color: nth($pair, 1);
        &.is-#{$name} {
            border-color : $color;
        }
    }
}
