<app-header></app-header>
<div id="home-page">
    <section class="hero is-primary is-medium has-text-centered">
        <div class="hero-body">
            <div class="container">
                <h1 class="title is-spaced">FSASS</h1>
                <h2 class="subtitle">A <strong>modern</strong> CSS framework based on <strong>Flexbox</strong></h2>
                <p class="hero-buttons">
                    <a href="#" class="button is-turquoise is-large">
                    <span class="icon">
                        <i class="fa fa-download"></i>
                    </span>
                        <span>Download</span>
                    </a>
                    <a href="#" class="button is-large">
                        <span>View Docs</span>
                    </a>
                </p>
            </div>
        </div>
    </section>

    <section class="hero">
        <div class="hero-body">
            <div class="container">
                <div class="columns">
                    <div class="column has-text-centered">
                        <span class="icon is-large" style="margin-right:-15px">
                            <i class="fa fa-mobile"></i>
                        </span>
                        <span class="icon is-large">
                            <i class="fa fa-tablet"></i>
                        </span>
                        <span class="icon is-large m-r-10">
                            <i class="fa fa-desktop"></i>
                        </span>
                        <p class="title is-4 m-t-5">
                            <strong>Responsive</strong>
                        </p>
                        <p class="subtitle">
                            Designed for <strong>mobile</strong>-first
                        </p>
                    </div>

                    <div class="column has-text-centered">
                        <span class="icon is-large">
                            <i class="fa fa-cubes"></i>
                        </span>
                        <p class="title is-4 m-t-5">
                            <strong>Modular</strong>
                        </p>
                        <p class="subtitle">
                            Just import what you <strong>need</strong>
                        </p>
                    </div>

                    <div class="column has-text-centered">
                        <span class="icon is-large">
                            <i class="fa fa-css3"></i>
                        </span>
                        <p class="title is-4 m-t-5">
                            <strong>Modern</strong>
                        </p>
                        <p class="subtitle">
                            Built with <strong>Flexbox</strong>
                        </p>
                    </div>

                    <div class="column has-text-centered">
                        <span class="icon is-large">
                            <i class="fa fa-github"></i>
                        </span>
                        <p class="title is-4 m-t-5">
                            <strong>Free</strong>
                        </p>
                        <p class="subtitle">
                            Open source on <strong>GitHub</strong>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section is-medium">
        <div class="container">
            <h3 class="title is-2">
                <a href="#">
                    <span class="icon is-medium">
                        <i class="fa fa-pause"></i>
                    </span>
                    Simple <strong>columns</strong>
                </a>
            </h3>
            <h4 class="subtitle is-4">
                Just add columns, they will resize themselves
            </h4>
        </div>
    </section>
</div>
<app-footer></app-footer>
