<div class="container">
    <nav class="nav">
        <div class="nav-left">
            <a class="nav-item is-brand">
                <img src="/assets/images/fsass-logo.svg" alt="FSASS">
            </a>
        </div>

        <div class="nav-center">
            <a class="nav-item" href="https://github.com/khanna91" target="_blank">
                <span class="icon">
                    <i class="fa fa-github"></i>
                </span>
            </a>
        </div>

        <!-- This "nav-toggle" hamburger menu is only visible on mobile -->
        <!-- You need JavaScript to toggle the "is-active" class on "nav-menu" -->
        <span class="nav-toggle">
            <span></span>
            <span></span>
            <span></span>
        </span>

        <!-- This "nav-menu" is hidden on mobile -->
        <!-- Add the modifier "is-active" to display it on mobile -->
        <div class="nav-right nav-menu">
            <a [routerLink]="['/']" class="nav-item" [ngClass]="{'is-active': pathMatch('/')}">
                Home
            </a>
            <a [routerLink]="['/docs', 'overview']" class="nav-item" [ngClass]="{'is-active': pathExist('overview')}">
                Documentation
            </a>

            <span class="nav-item">
                <a class="button is-primary is-outlined">
                    <span class="icon">
                        <i class="fa fa-download"></i>
                    </span>
                    <span>Download</span>
                </a>
            </span>
        </div>
    </nav>
</div>
