<section class="hero is-fullheight is-dark">
    <div class="hero-body">
        <div class="container has-text-centered">
            <h2 class="title is-1">404</h2>
            <h3 class="subtitle is-2">Page not found</h3>
            <div class="content p-b-40">
                <p class="title is-4">Seems, the page you are looking for doesn't exist or move temporary.</p>
            </div>
            <div class="hero-buttons">
                <a [routerLink]="['/']" class="button is-large is-complete">
                    <span class="icon">
                        <i class="fa fa-home"></i>
                    </span>
                    <span>Back to home</span>
                </a>
            </div>
        </div>
    </div>
</section>

<hr class="is-margin-less"/>
