<footer class="footer">
    <div class="container">
        <div class="columns">
            <div class="column is-3">
                <div class="content">
                    <strong class="text-primary">FSASS</strong> by <span class="text-turquoise">Rahul Khanna</span>
                </div>
            </div>
        </div>
        <div class="columns">
            <div class="column">
                <p class="is-block has-text-centered">
                    All rights are reserved. &copy; 2017. PSYCHOCODING &#9786;
                </p>
            </div>
        </div>
    </div>
</footer>
