<section class="hero is-primary is-medium has-text-centered">
    <div class="hero-body">
        <div class="container">
            <h1 class="title is-spaced">FSASS</h1>
            <h2 class="subtitle">A <strong>modern</strong> CSS framework based on <strong>Flexbox</strong></h2>
            <p class="hero-buttons">
                <a href="#" class="button is-turquoise is-large text-white">
                    <span class="icon">
                        <i class="fa fa-download"></i>
                    </span>
                    <span>Download</span>
                </a>
                <a href="#" class="button is-large">
                    <span>View Docs</span>
                </a>
            </p>
        </div>
    </div>
</section>

<section class="hero is-light">
    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <div class="column has-text-centered">
                    <span class="icon is-large" style="margin-right:-15px">
                        <i class="fa fa-mobile"></i>
                    </span>
                    <span class="icon is-large">
                        <i class="fa fa-tablet"></i>
                    </span>
                    <span class="icon is-large m-r-10">
                        <i class="fa fa-desktop"></i>
                    </span>
                    <p class="title is-4 m-t-5">
                        <strong>Responsive</strong>
                    </p>
                    <p class="subtitle">
                        Designed for <strong>mobile</strong>-first
                    </p>
                </div>

                <div class="column has-text-centered">
                    <span class="icon is-large">
                        <i class="fa fa-cubes"></i>
                    </span>
                    <p class="title is-4 m-t-5">
                        <strong>Modular</strong>
                    </p>
                    <p class="subtitle">
                        Just import what you <strong>need</strong>
                    </p>
                </div>

                <div class="column has-text-centered">
                    <span class="icon is-large">
                        <i class="fa fa-css3"></i>
                    </span>
                    <p class="title is-4 m-t-5">
                        <strong>Modern</strong>
                    </p>
                    <p class="subtitle">
                        Built with <strong>Flexbox</strong>
                    </p>
                </div>

                <div class="column has-text-centered">
                    <span class="icon is-large">
                        <i class="fa fa-github"></i>
                    </span>
                    <p class="title is-4 m-t-5">
                        <strong>Free</strong>
                    </p>
                    <p class="subtitle">
                        Open source on <strong>GitHub</strong>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section is-medium">
    <div class="container">
        <h3 class="title is-2">
            <a href="#">
                <span class="icon is-medium">
                    <i class="fa fa-pause"></i>
                </span>
                Simple <strong>columns</strong>
            </a>
        </h3>
        <h4 class="subtitle is-4">
            Just add columns, they will resize themselves
        </h4>

        <div id="grid" class="columns">
            <div class="column">
                <div class="notification is-primary has-text-centered">
                    <p class="title">1</p>
                </div>
            </div>
            <div class="column">
                <div class="notification is-turquoise has-text-centered">
                    <p class="title">2</p>
                </div>
            </div>
            <div class="column">
                <div class="notification is-success has-text-centered">
                    <p class="title">3</p>
                </div>
            </div>
            <div class="column">
                <div class="notification is-complete has-text-centered">
                    <p class="title">4</p>
                </div>
            </div>
            <div class="column">
                <div class="notification is-info has-text-centered">
                    <p class="title">5</p>
                </div>
            </div>
            <div class="column">
                <div class="notification is-warning has-text-centered">
                    <p class="title">6</p>
                </div>
            </div>
            <div class="column">
                <div class="notification is-danger has-text-centered">
                    <p class="title">7</p>
                </div>
            </div>
        </div>

        <div class="field has-addons has-addons-centered">
            <div class="control">
                <a href="javascript:;" class="button is-unselectable">Add Column</a>
            </div>
            <div class="control">
                <a href="javascript:;" class="button is-unselectable">Remove Column</a>
            </div>
        </div>

        <div id="markup">
            <figure class="highlight">
                <pre>
                    <code class="language-html" data-lang="html">
                        <span>Hie</span>
                    </code>
                </pre>
                <button class="copy">Copy</button>
            </figure>
        </div>
    </div>
</section>

<hr class="is-marginless"/>

<section class="section is-medium">
    <div class="container">
        <h3 class="title is-2">
            <a href="#">
                <span class="icon is-medium">
                    <i class="fa fa-th-large"></i>
                </span>
                Magic <strong>tiles</strong>
            </a>
        </h3>
        <h4 class="subtitle is-4">
            A single element for a Metro UI CSS grid
        </h4>

        <div class="tile is-ancestor">
            <div class="tile is-vertical is-8">
                <div class="tile">
                    <div class="tile is-parent is-vertical">
                        <article class="tile is-child notification is-turquoise text-white">
                            <p class="title">Vertical...</p>
                            <p class="subtitle">Top tile</p>
                        </article>
                        <article class="tile is-child notification is-warning text-white">
                            <p class="title">...tiles</p>
                            <p class="subtitle">Bottom tile</p>
                        </article>
                    </div>
                    <div class="tile is-parent">
                        <article class="tile is-child notification is-info text-white">
                            <p class="title">Middle tile</p>
                            <p class="subtitle">Super awesome...</p>
                        </article>
                    </div>
                </div>
                <div class="tile is-parent">
                    <article class="tile is-child notification is-danger text-white">
                        <p class="title">Wide tile</p>
                        <p class="subtitle">Aligned with the right tile</p>
                    </article>
                </div>
            </div>
            <div class="tile is-parent">
                <article class="tile is-child notification is-success text-white">
                    <p class="title">Tall tile</p>
                    <p class="subtitle">With even more content</p>
                    <div class="content">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate dolorem et ex explicabo incidunt, ipsam laborum minus nihil nobis quidem ratione, rem repellat temporibus? Enim in incidunt magnam praesentium sequi.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusamus amet commodi cupiditate delectus distinctio et explicabo, ipsum laborum magnam odio omnis quisquam voluptatum. Animi laudantium officia voluptas? Dolores, obcaecati.</p>
                    </div>
                </article>
            </div>
        </div>
    </div>
</section>

<hr class="is-marginless"/>

<section class="section is-medium">
    <div class="container">
        <h3 class="title is-2">
            <a href="#">
                <span class="icon is-medium">
                    <i class="fa fa-arrows-h"></i>
                </span>
                Flexible <strong>horizontal levels</strong>
            </a>
        </h3>
        <h4 class="subtitle is-4">
            Include any type of element, they will remain vertically centered
        </h4>

        <div class="level">
            <div class="level-left">
                <div class="level-item">
                    <p class="title is-4">
                        <strong>123</strong> posts
                    </p>
                </div>
                <a href="javascript:;" class="level-item button is-primary">
                    New
                </a>
                <div class="level-item">
                    <div class="field has-addons">
                        <div class="control">
                            <input type="text" class="input" placeholder="Filter">
                        </div>
                        <div class="control">
                            <button class="button">Search</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="level-right"></div>
        </div>
    </div>
</section>

<section class="hero is-fullheight is-turquoise">
    <div class="hero-head">
        <div class="container has-text-centered text-white">
            <p class="p-t-5">This is always at top</p>
        </div>
    </div>
    <div class="hero-body">
        <div class="container has-text-centered">
            <h3 class="title is-2">
                <a href="#" class="text-white">
                    <span class="icon is-medium">
                        <i class="fa fa-arrows-v"></i>
                    </span>
                    Easy <strong>vertical centering</strong> in <strong>full screen</strong>
                </a>
            </h3>
            <h4 class="subtitle text-white">
                Include any content you want, it's always centered
            </h4>
        </div>
    </div>
    <div class="hero-footer">
        <div class="container has-text-centered text-white">
            <p class="p-b-5">This is always at bottom</p>
        </div>
    </div>
</section>
